# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output of the go coverage tool
*.out

# Directories for Go modules
vendor/

# Log files
*.log

# Configuration files
.env

# IDE/editor specific files
.vscode/
.idea/
*.swp
*~

# OS specific files
.DS_Store
Thumbs.db

# Dependency files
go.work

# Ignorar la carpeta tmp y todo su contenido
/tmp

# Ignorar el archivo build-errors.log
/build-errors.log
